'<pad>_'
'<EOS>_'
'_'
')_'
'(_'
'C_'
'O_'
'CC'
'C'
'cc'
'N'
'(=_'
'2'
'n'
'1_'
'c2'
')'
'ccc'
'c_'
'c1'
'3'
'OC'
']'
'[_'
'1'
'c1ccc'
'='
'c'
'@'
'H'
'F'
'O'
'-'
'l'
'S'
'('
'4'
'#'
's'
'+'
'B'
'r'
'o'
'/'
'5'
'\'
'i'
'P'
'I'
'6'
'7'
'e'
'L'
'g'
'8'
'M'
'a'
'p'
'9'
'Z'
't'
'K'
'u'
'R'
'd'
'b'
'['
'E'
'>'
'<'
';'
'0'
':_'
'][_'
'cH_'
']_'
'2_'
']([_'
'3_'
'CH2_'
'])[_'
'4_'
'5_'
'6_'
'7_'
'8_'
'9_'
'0_'
'H_'
'CH3_'
'=[_'
':'
